      <div   class="sidebar">
        <div class="user-profile">
          <div>
            <img class="profile-img img-lg rounded-circle" 
            src="assets\images\3dgifmaker68.gif" style="image-resolution:60px" alt="not Found">
          </div>
          <div class="info-wrapper" >
            <p class="user-name"></p>
            <h6 class="display-income"> </h6>
          </div>
        </div>
        <ul class="navigation-menu"  >
          <li class="nav-category-divider">Menu</li>
          <li>
            <a routerLink="/admin">
              
              <span class="link-title"  aria-label="Example home icon">Accueil</span>
              <mat-icon aria-hidden="false" class='link-icon' aria-label="Example home icon" > home </mat-icon>
            </a>
          </li>
          <li>
            <a routerLink="/forms">
              <span class="link-title">Paramétrer les notificatons</span>
              <mat-icon aria-hidden="false" class='link-icon' aria-label="Example home icon">notifications</mat-icon>
            </a>
          </li>
          <li>
            <a routerLink="/table">
              <span class="link-title">Tableau des notifications </span>
              <mat-icon aria-hidden="false" class='link-icon' aria-label="Example home icon">table_chart</mat-icon>
            </a>
          </li>
          <li>
            <a routerLink="/chart" >
              <span class="link-title">Statestiques</span>
              <mat-icon  aria-hidden="false" class='link-icon' aria-label="Example home icon">bar_chart</mat-icon>
            </a>
          </li>
     <li>
      <a routerLink="">
        <span class="link-title">Logout</span>
        <mat-icon aria-hidden="false" class='link-icon' aria-label="Example home icon">logout</mat-icon>
      </a>
          </li>
        </ul>
      </div>
