<nav class="t-header">
    <div class="t-header-brand-wrapper">
        <a routerLink="/admin">
            <img class="logo" src="assets/images/images.png" alt="">
            <img class="logo-mini" src="assets/images/images.png" alt="">
          </a>
    </div>
    <div class="t-header-content-wrapper">
      <div class="t-header-content">
        <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
          <i class="mdi mdi-menu"></i>
        </button>
       
        <ul class="nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
              <i class="mdi mdi-message-outline mdi-1x"></i>
              <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
            </a>
           
          </li>
          <mat-menu #appMenu="matMenu">
            <ng-template matMenuContent let-name="name">
              <button mat-menu-item>Settings</button>
              <button mat-menu-item (click)='logout()'>Log off </button>
            </ng-template>
          </mat-menu>
          
          <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Sally'}">
            <mat-icon>more_vert</mat-icon>
          </button>

        </ul>
      </div>
    </div>
  </nav>