<footer class="page-footer font-small special-color-dark pt-4">

  <div class="container">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/BanqueZitouna/" class="btn-floating btn-fb mx-1">
          <i  class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a  href='https://twitter.com/banque_zitouna?lang=fr'class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      
      <li class="list-inline-item">
        <a href='https://www.linkedin.com/company/zitouna-bank/?originalSubdomain=t'class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href='https://www.banquezitouna.com/ib' class="btn-floating btn-dribbble mx-1">
          <i class="fa  fa-globe"> </i>
        </a>
      </li>
    </ul>
  </div>
</footer>