/* Footer */
footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: 2rem 2.5rem;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 991.98px) {
      footer {
        padding: 20px 0px 30px 0; } }
    footer ul {
      margin-left: 0;
      padding-left: 0; }
      footer ul li {
        display: inline-block;
        padding: 0 10px 0 0;
        line-height: 1; }
        footer ul li:not(:last-child) {
          margin-right: 10px;
          border-right: 1px solid #f2f4f9; }
        footer ul li a {
          font-weight: 600;
          letter-spacing: 0.03rem;
          color: #565656; }
          .fab{
            font-size:15px
          }
          .fa{
            font-size:15px
          }
          .fa-facebook-f{
            color : #4267B2
          }
          .fa-twitter{
            color : #00acee
          }
          .fa-google-plus-g{
            color :#DB4437 
          }
          .fa-linkedin-in{
            color : #0072b1
          }
          