
header {
  background-color: #333;
  color: #fff;
  overflow: auto;
  position: sticky;
  top:0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

mat-icon {
  cursor: pointer;
}

.action-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.table {
  padding: 2px;
}

.table tbody tr,
.table thead ,
.table thead {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding: 2px

}
th{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width:8em;
  height: 3em;

}
.output {
  padding: 20px;
}

.glyphicon-trash {
  color: #CC0000  ;
}

.done {
  color: green;
}
.glyphicon-edit{
  color: #0d47a1
  ;
}
.edit 
{
  color: blue;
}
td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width:8em;
  height: 3em;
}

span.ui-column-resizer {
  width: 100%;
  height: 100%;
  cursor: col-resize;
  padding: 30px;

}
.width-75 {
  width: 75vw;
}
.full-width {
  width: 100%;
}
.title {
  margin: 0 0 50px 0;
  font-family: 'Roboto', sans-serif;
}
.btn-container {
  right: 0;
  float: right;
  padding: 4px

}
.mat-cell {
  padding: 5px;

}
.mat-header-cell {
  padding: 10px;
  color:#43a047;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  background-color: whitesmoke;
  text-transform:uppercase;

}


.table-bordered {
    width: 1001%111;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    border-color:#808080 ;

}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
.button {
  text-transform: uppercase;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
  background-color: #57b846;
}
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 13px;
  width: 50%;
  height:50%
}

 
 .mat-column{
   
 width:50px
   
 }
 
 