
          <div class="col-lg-12">
            <div class="grid">
<div style="width:70%;
margin-top: 2%; 
margin-left:3%; 
margin-right:2%;">

<mat-form-field>

  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>
  <table  style="  width:50%;" mat-table [dataSource]="dataSource"  matSort #table class="mat-elevation-z8 table-bordered" >
    <!-- CIN Column -->
    <ng-container matColumnDef="CIN">
      <th mat-header-cell *matHeaderCellDef > CIN </th>
      <td mat-cell *matCellDef="let Notification"> {{Notification.CIN}} </td>
    </ng-container>
  <!-- Le Compte -->
  <ng-container matColumnDef="compte">
    <th mat-header-cell *matHeaderCellDef> LE COMPTE   </th>
    <td mat-cell *matCellDef="let Notification">{{Notification.ACCOUNT_NO}}</td>
  </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="catégorie">
      <th mat-header-cell *matHeaderCellDef > La catégorie </th>
      <td mat-cell *matCellDef="let Notification"> {{ Notification.Categorie}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="parametres">
      <th mat-header-cell *matHeaderCellDef> Le nom de la notification</th>
      <td mat-cell *matCellDef="let Notification"> {{Notification.parametres}} </td>
    </ng-container>

    <!-- PhoneNumber Column -->
    <ng-container matColumnDef="canal">
      <th mat-header-cell *matHeaderCellDef> Les types de la notification  </th>
      <td mat-cell *matCellDef="let Notification"> 
        {{Notification.canal}} 

      </td>
    </ng-container>

    <!-- Edit Column -->
  
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let Notification">
           <button mat-mini-fab style='background-color: #0d47a1;' aria-label="Example icon button with a delete icon">
            <mat-icon   (click)="onEditButtonClickHandler(Notification)" style="color:white ;background-color: #0d47a1;">edit</mat-icon> 
          </button>      </td>
    </ng-container>


    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let Notification">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon   (click)='deleterequest(Notification)' style="color:white">delete</mat-icon>
        </button>  </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <br>
      

