<i  class="glyphicon  glyphicon-edit" style="font-size:30px;color: #585858	" aria-hidden="true" (click)="addForm()"></i>

<form [formGroup]="preference" (ngSubmit)="submitForm()" *ngFor="let obj of Dataarray; let i=index"
 novalidate>
 <i class="fa fa-minus-circle" style="font-size:30px;color:red"></i>
 <mat-form-field>
  <mat-label>sélectionner une option</mat-label>
  <mat-select formControlName="choix"  >
    <mat-option>Aucun</mat-option>
    <mat-option value="seuil max" ngModel>Seuil max</mat-option> 
    <mat-option value="seuil min" ngModel>Seuil min </mat-option>
  </mat-select> 
</mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Montant</mat-label>
    <input matInput type="number"  formControlName="montant"
    class="example-right-align">
    <span matPrefix>DT &nbsp;</span>
  </mat-form-field>
  </form>