
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="assets\images\Banque-Zitouna.jpg" alt="IMG">
				</div>
				<form class="login100-form validate-form" [formGroup]="LoginForm" (ngSubmit)="onSubmit()" >

					<div *ngIf="this.identification==false " class='alert alert-danger  alert-dismissible col-md-12 '>
						<strong>
							<button type="button" class="close" data-dismiss="alert">&times;</button>
								 {{this.errorMessage}}</strong> 
					  </div>
					<span class="login100-form-title">
						Login
					</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" 
						 placeholder="Email" formControlName='email' [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
						 <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
							 <div *ngIf="f.email.errors.required">adresse email  requise</div>
							 <div *ngIf="f.email.errors.email">Adresse email  invalide
							</div>
						 </div>
						 <span class="focus-input100"></span>
						 <span class="symbol-input100">
						 <i class="fa fa-envelope" aria-hidden="true"></i>
						 </span>
						 
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName='password'>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
						<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
							<div *ngIf="f.password.errors.required"> Mot de passe  requis </div>

							</div>
					</div>

					<div class="container-login100-form-btn">
<button  class="login100-form-btn" (click)='navigateToAdmin()'>
          Se connecter
</button>

					</div>				
				</form>
			</div>
		</div>
	</div>
	