<app-header></app-header>
<div class="row justify-content-between">
   
   <div class="col-4">
    <!-- <canvas id="pieChart" style="height:600px;width:600px;" ></canvas>  -->
    <div class="chart-wrapper" style="height:800px;width:800px;">
    <canvas baseChart 
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    [colors]="doughnutChartColors">
  
  </canvas>
</div>

  </div>
  <div class="col-4">
    <canvas id="bar-chart" style="height:600px;width:600px;"></canvas> 
    </div>
      </div>