
    
    <form  (keydown.enter)="$event.preventDefault()" [formGroup]="ParametreForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-form-field">
        <mat-label>CIN</mat-label>
        <input  matInput formControlName="CIN"  
        type='text'  [(ngModel)]="value" (keyup.enter)='getAccount(value)' [ngClass]="{ 'is-invalid': submitted && f.CIN.errors }">
        </mat-form-field>
        <div *ngIf="submitted && f.CIN.errors" class="invalid-feedback" >
          <div *ngIf="f.CIN.errors.required">CIN is required</div>
        </div>

      
                <div *ngIf="isSelected('yes')">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="Categorie" [ngClass]="{ 'is-invalid': submitted && f.Categorie.errors }" >
            <label >Catégorie de la notification</label>
            <mat-radio-button  class="example-radio-button"  value="Compte"  (click)='getCategorieValue()'> Compte</mat-radio-button>
            <mat-radio-button class="example-radio-button"   value="Produit bancaire" (click)='getCategorieValue()'  >
            Produit bancaire</mat-radio-button>
          </mat-radio-group>
         
        </div>
          <div *ngIf="getCategorieValue()=='Compte'" >  
            <label>Les paramétres</label>
            <mat-form-field>
              <mat-select formControlName="parametres"  [(ngModel)]="selected"   >
                <mat-optgroup label="Les alertes sur transactions">
        <mat-option  *ngFor="let param of parametreCompte.Transactions " (click)="SelectedArray()" [value]="param">{{param}}</mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
            <div *ngIf='selected'> 
              <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Les paramétres</th>
    <th scope="col">Configuration de la notification</th>
    <th scope="col">Type de la notification</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let s of selectItem ; index as i"  [value]='s'>
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ s }}
    </td>
    <td>  <app-repeatfield></app-repeatfield> </td>
      <td>
        <div>
          <mat-select  class="my-select-panel-class"  formControlName='canal' multiple>
      <mat-label> Les Types </mat-label>
    <mat-option   value='Sms' ngModel> Notification sms  </mat-option>
    <mat-option   value='Email'  ngModel> Notification mail   </mat-option>
    </mat-select>
    </div>   
      <div *ngIf="canalInvalide " >
        <div class="alert alert-danger" role="alert">

             {{this.errorMessage}}
             </div>
        
    </div>
     </td>
      <td><div class="form-group" >
        <i class="fa fa-bank	" aria-hidden="true" (click)="addForm()"></i>
      </div>
      <div *ngFor="let obj of Dataarray; let i=index" >
        <mat-label>Les comptes</mat-label>
        <mat-select  class="form-control" id="exampleFormControlSelect1" formControlName='ACCOUNT_NO'   multiple>
          <mat-option *ngFor="let ac of account; let i as index"  [value]='ac.ACCOUNT' ngModel>{{ac.ACCOUNT}}</mat-option >
        </mat-select >
    </div>
    <div *ngIf='InvalideAccount'>
      <div class="alert alert-danger" role="alert">
        {{this.AccounterrorMessage}}
        </div>
    </div>

        <button type="submit" class="btn btn-raised btn-success"   >Enregisrer</button>
       <br>
        <button  class="btn btn-raised btn-danger"   (click)='Onresert(i)'>Annuler</button>
      </td>     
  </tr>
  </tbody>
</table>  
        </div>
          </div>
          <div *ngIf="getCategorieValue()=='Produit bancaire'" >  
            <label>Les paramétres</label>
            <mat-form-field>
              <mat-select formControlName="parametres" [(ngModel)]='selected'>
                <mat-optgroup label="Les alertes sur les cartes bancaires ">
        <mat-option  *ngFor="let param of parametreProduit.Cartebancaire ; index as i"  (click)="SelectedArray()"  [value]="param">{{param}}</mat-option>
      </mat-optgroup>
              </mat-select>
            </mat-form-field>
            <div *ngIf='selected'> 
              <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Les paramétres</th>
    <th scope="col">Configuration</th>
    <th scope="col">Type de la notification</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let s of selectItem ; index as i"  [value]='s'>
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ s }}
    </td>
    <td>  <app-repeatfield ></app-repeatfield>
</td>
<td>
  <div>
    <mat-select  class="my-select-panel-class"  formControlName='canal' multiple>
<mat-label> Les Types </mat-label>
<mat-option   value='Sms' ngModel> Notification sms  </mat-option>
<mat-option   value='Email'  ngModel> Notification mail   </mat-option>
</mat-select>
</div></td>
<td><div class="form-group" >
  <i class="fa fa-bank" aria-hidden="true" (click)="addForm()"></i>
</div>
    <mat-label>Les comptes</mat-label>
    <mat-select  class="form-control" id="exampleFormControlSelect1" formControlName='ACCOUNT_NO'   multiple>
      <mat-option  *ngFor="let ac of account; let i as index"  [value]='ac.ACCOUNT' ngModel>{{ac.ACCOUNT}}</mat-option >
    </mat-select >
    <div *ngIf="canalInvalide " >
      <div class="alert alert-danger" role="alert">

           {{this.errorMessage}}
           </div>
      
  </div>
   
  <button type="submit" (click)="resetSelected() " class="btn btn-raised btn-success"     >Enregisrer</button>
<br>  <button class="btn btn-raised btn-danger"  (click)='Onresert(i)'>Annuler</button>
</td>  
  </tr>
  </tbody>
</table>  
        </div>
           </div>  
                       </form>
                       