<form [formGroup]='canaux' (ngSubmit)='getValue()'>  
    <div>
      <mat-select  class="my-select-panel-class"  formControlName='canal' multiple>
  <mat-label> Les Types </mat-label>
<mat-option   value='sms' ngModel> Notification sms  </mat-option>
<mat-option   value='Email'  ngModel> Notification mail   </mat-option>
</mat-select>
</div>
