<app-header></app-header>
<div class="page-body">
<app-side-bar></app-side-bar>
<div class="page-content-wrapper">
    <div class="page-content-wrapper-inner">
      <div class="viewport-header">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb has-arrow">
            <li class="breadcrumb-item">
              <a routerLink="/admin">Accueil</a>
            </li>
            <li class="breadcrumb-item">
              <a>Paramétrage</a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="content-viewport">
        <div class="row">
          <div class="col-lg-12">
            <div class="grid">
              <p class="grid-header">Paramétrer les Notifications</p>
              <div class="grid-body" style="
              margin-top: 3%; 
              margin-left:2%; 
              margin-right:20%;">
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="grid">
              <div class="grid-body">
                <div class="item-wrapper">
                  <div class="row">
                    <div class="col-md-8 mx-auto">
                      <div class="row showcase_row_area">
                        
                            <app-forms></app-forms>
                            
                      <div class="row showcase_row_area"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
</div>
