<div class="width-75">
  <h1 md-dialog-title class="primary-color">Modifier la notification</h1>
        <form class="example-form"  [formGroup]="updateForm"  (ngSubmit)="onSubmit()"> 
    <div class="container">
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
        <mat-form-field  class="full-width">
          <input matInput   [disabled]='true' formControlName='oldCategorie'       placeholder="La catégorie de la notification" [(ngModel)]="notification.Categorie" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput  formControlName='oldparametres'   placeholder="Nom de la notification" [(ngModel)]="notification.parametres" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
       <br> 
          <mat-form-field class="full-width">
            <input matInput placeholder="Type de notification"  formControlName='oldCanal'   [(ngModel)]="notification.canal" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
            
        </li>
      </ul>
    </div>
        <!---->
      <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="UpdatedCategorie" (change)='changeValueCategorie()'>
        <label id="example-radio-group-label">Catégorie de la notification</label>
        <mat-radio-button  class="example-radio-button" value="Compte"  (click)="setradio('Compte')" > Compte</mat-radio-button>
        <mat-radio-button class="example-radio-button"  value="Produit bancaire"  (click)="setradio('Produit bancaire')" >
        Produit bancaire</mat-radio-button>
      </mat-radio-group>

      <select class="my-select-panel-class"   formControlName="UpdatedCanal"  (change)='changeValueCanal()'  multiple >
        <mat-label> Les Types </mat-label>
          <option    value='Email'   >   Notification Email </option>
            <option  value='Sms'    >   Notification SMS </option>
            </select>
      <div *ngIf="isSelected('Compte')" >
    
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="UpdatedParametres" (change)="changeValueParametre()">
          <label id="example-radio-group-label">Nom de la notification</label>
          <mat-radio-button  class="example-radio-button"   *ngFor="let param of parametreCompte.Transactions"   [value]="param" > {{param}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="isSelected('Produit bancaire')">  
                <!--label>Les paramétres</label>
                <mat-form-field>
                  <mat-select >
                    <mat-optgroup label="Les alertes sur les cartes bancaires" > 
            <mat-option  *ngFor="let param of parametreProduit.Cartebancaire"   value="param" formControlName="UpdatedParametres" (change)="changeValueParametre()">{{param}}</mat-option> 
          </mat-optgroup>
      
                  </mat-select>
                </mat-form-field>
          </div-->
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="UpdatedParametres" (change)="changeValueParametre()">
            <label id="example-radio-group-label">Nom de la notification</label>
            <mat-radio-button  class="example-radio-button"   *ngFor="let param of parametreProduit.Cartebancaire"   [value]="param" > {{param}}</mat-radio-button>
              </mat-radio-group>
        </div>  
            <div class="btn-container">
        <button   class="btn btn-outline-danger" (click)='closeDialog(notification)'>Annuler</button>
        <button type="submit" (click)='onSaveClickHandler()' class="btn btn-outline-success" [disabled]='updateForm.invalid' >Enregistrer         
        </button>
      </div>
      <!-- Footer Elements -->
    </form>
  </div>